
body {
    background-color: #f8f9fa;
}

/* Nút Thêm bài học mới */
.btn-primary-green {
    background-color: #63d421 !important; /* Màu xanh lá cây nổi bật */
    border-color: #63d421 !important;
    color: #343a40 !important;
    font-weight: 600;
}
.btn-primary-green:hover {
    background-color: #55b81a !important;
    border-color: #55b81a !important;
}
.btn_add {
    transition: transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
}

.btn_add:hover {
    transform: scale(1.1)   !important;
}


/* Badge trạng thái */
.badge-success-green {
    background-color: #e5f7da; /* Nền xanh lá nhạt */
    color: #4b9b2e; /* Chữ xanh lá đậm */
    font-weight: 600;
    padding: 0.4em 0.7em;
    border-radius: 0.5rem;
}

.badge-warning-yellow {
    background-color: #fff9e6; /* Nền vàng nhạt */
    color: #b7902d; /* Chữ vàng đậm */
    font-weight: 600;
    padding: 0.4em 0.7em;
    border-radius: 0.5rem;
}

/* Icon trong bảng */
.table-actions .btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1;
    border-radius: 0.2rem;
    margin-right: 5px;
}